# Java
*.class
*.jar
*.war
*.ear
*.logs
*.iml

# Maven
target/
.mvn/

# IDE
.idea/
.vscode/

# Spring Boot
application-*.properties
!application-example.properties

# Logs
logs/
*.log

# System Files
.DS_Store